$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 23rem;
}

header {
    padding: 2rem;
    text-align: center;
    

    #logo {
        margin: 3rem 0;
    }

    h1 {
        font-weight: 300;
        font-size: 1.75rem;
        color: $gray;
        margin-bottom: 1.5rem;

        span {
            font-weight: 600;
            color: $very-dark-blue;
        }
    }

    .input-label {
        color: $very-dark-blue;
    }
}


#email-request {
    display: flex;
    flex-direction: column;
    margin: 0 1.25rem;

    #email, #submit {
        height: 3rem;
        border-radius: 1.5rem;
        margin: .5rem 0;
    }

    #email {
        border: 2px solid $pale-blue;
        padding-left: 2rem;
        font-size: .93rem;

        &::placeholder {
            color: $pale-blue;
        }
    }

    #submit {
        border: none;
        background-color: $blue;
        color: white;
        font-size: .93rem;
        box-shadow: 0rem .25rem 1rem $pale-blue;

        &:hover {
            cursor: pointer;
            background-color: hsl(223, 87%, 70%);
        }
    }

}

#banner {
    width: 23rem;
    margin: 4.5rem 0;
}

footer {
    text-align: center;
    margin: 4rem 2rem;

    .social {
        color: $blue;
        border: 1px solid $pale-blue;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        margin: 1rem .25rem;
        padding-top: .75rem;
    }

    .copyright {
        margin: 2rem 0;
        color: $gray;
        font-size: .83rem;
    }
}








.attribution { 
    font-size: 11px; 
    text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}
 